@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');

@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/Montserrat-Medium.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
}