.dispatch-container {
  background-color: $background-dispatch;
  border-radius: 5px;
  position: relative;
}

.location-image {
  width: $location-width;
  height: $location-height;
}

.select-dispatch {
  width: $select-width;
  height: $select-height;
  position: relative;
  z-index: $z-index-xxs;
  border-radius: $border-select;
}

.down {
  position: absolute;
  bottom: 52px;
  left: 40px;
  font-size: $font-size-xms;
  z-index: $z-index-xxl;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(50%,#f5f5f5),color-stop(50%,#fff));
}

.placeholder {
  font-size: $font-size-s;
}