.container-list {
  
}

.container-image-side {
  height: $container-images-height;
  
  &:hover {
    border: 1px solid gray;
  }
}

.image {
  width: $side-image-width;
  height: $side-image-height;
}